Shortcut Processed Data
old jupyter notebooks
sample-project
module_3_project
competition_info
dsc-project-template
dsc-phase-3-project
module_3_presentation.pptx
EvanHolder_module_3_project_github.pdf
well_functionality_presentation.mp4